@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
*{
    font-family: "Sora", serif;
}
.font-1{
    font-family: "ADLaM Display", serif;
}
.hero{
    background: url(../assets/cat-big.png);
    background-position: bottom;
    background-repeat: no-repeat;
}
.small-pet{
    background: url(../assets/cute-pet-small.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.g-1{
    background: linear-gradient(90deg, rgba(242,204,251,1) 0%, rgba(183,209,253,1) 100%);
}
.g1{
    background-image: url(../assets/cute-dog-mid.png);
    background-repeat: no-repeat;
    background-position: center right;
}
.g-2{
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(250,223,140,1) 100%);
}
.g2{
    background-image: url(../assets/cute-pet-mid.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
/* .animation {
    animation: rotate 2s linear;
  }
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
} */
.burger {
    display: none !important;
}
