@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
*{
    font-family: "Sora", serif;
}
.font-1{
    font-family: "ADLaM Display", serif;
}
.hero{
    background: url(../assets/cat-big.png);
    background-position: bottom;
    background-repeat: no-repeat;
}